@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;

}

footer{
    padding: 8px 12px;
    background-color: #3a3939de;
    color: #faebd7;
}
h2{
   font-size: 1.5rem;
}

body{
    background-color: rgb(249, 243, 236);

    /*Os estilos a seguir servem para que a barra de rolagem fique invisível, mas continue funcional*/
    overflow: -moz-scrollbars-none; /* Para Firefox */
    -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
}
body::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Opera */
}

nav{
    padding: 24px;
    background-color: #3a3939;
    color: #faebd7;
    box-shadow: 0 0 10px #3a3939;
    width: 100dvw;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    /*flex-wrap: wrap;*/
    text-align: center;
}
nav a{
    font-size: 1.2rem;
}
nav .icone{
    height: 22px;
}
.icone{
    vertical-align: text-bottom;
}

@media (max-width: 768px) {
    nav a {
        font-size: 1rem;;
    }
    nav .icone{
        height: 16px;
    }
    nav{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }
}


a{
    text-decoration: none;
    color: currentColor;
    padding: 16px;
}
a:hover{
    box-shadow: #272829 0 0 10px;
}
a:hover, input[type="submit"]:hover{
    transform: scale(108%);
    transition: all 0.3s linear;
}

.ativo{
    background-color: #05143c;
}
.ativo:hover, input[type="submit"]:hover{
    box-shadow: #05143c 0 0 10px;
}

.site{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    box-shadow: #272829 0 0 10px;
    padding: 24px;
    border-radius: 8px;
    max-width: 510px;
    max-height: calc(100% - 300px);
    text-align: center;
}

h1{
    padding: 4px 8px 8px 8px;
    font-size: 2.5rem;
    text-align: center;
    color: #05143c;
}

label{
    padding: 8px;
}
input{
    padding: 2px;
}
input[type="submit"]{
    appearance: none !important;
    background-color: #05143c;
    padding: 8px 12px;
    color:#faebd7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 4px auto;
    font-size: 1rem;
    align-self: end;
    font-stretch: expanded;
}
/* input[type="submit"]:hover{ */
    /* box-shadow: 0 0 10px #05143c; */
/* } */
p{
    margin: 5px;
}
.obs, #obs{
    font-style: italic;
}
label, p, input[type="text"], a{
    font-size: 1.1rem;
}
form{
    text-align: center;
}
.alinha-btn{
    text-align: end;
}
/*PÁGINA INICIAL*/
.index{
    max-width: 80%;
    margin: 0 auto;
    flex-direction: column;
    gap: 5px;  
}
.item{
    width: 50vw;
    padding: 30px 20px;
    font-size: 2rem;
    color: #faebd7;
    text-align: center;
    background-color: #3a3939;

}
.item .icone{
    height: 32px;
}
a.item:hover{
    background-color: #05143c;

}
::selection { 
    background: #0b2261de;
    color: #faebd7de; 
} 
::-moz-selection { background: #1f6a8f; color: #fff; }
